.editor{
	padding-bottom : 30px;
}
.form-group{
	padding-bottom: 30px;
}
.form-group p.text-danger{
	position: absolute;
	padding: 5px;
}
.column{
	width: 150px;
	margin-left: 15px;
	float: left;
}
.panel-body{
	padding:0
}
.list-group{
	margin-bottom: 0;
}
.list-group-item .remove{
    bottom: 2px;
    position: absolute;
    right: 2px;
	display: none;
}
.list-group-item.active .remove{
	display: block;
}
