.editor{
	padding-bottom : 50px;
}
.form-group{
	padding-bottom: 30px;
}
.form-group .error{
	position: absolute;
	padding: 5px;
}
.validationError{
	position: absolute;
	left: 0;
	bottom: 50px;
}
.weekView{

}
.summary{

}
button.next,
button.prev{
    background-image: none;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
.controls{
	border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}
.column{
	width: 14%;
	float: left;
    border-bottom: 1px solid #DDDDDD;
}
.list-item{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    list-style: none outside none;
    margin: 10px;
    padding: 5px;
}
.list-item .remove{
	display: none;
}
.list-item.active{
    box-shadow: 0 2px 2px #337ab7;
}
.list-item.active .remove{
	display: block;
}
.column h4{
    padding-bottom: 5px;
    text-align: center;
}
.column h5{
	font-weight: bold;
}