<!DOCTYPE html>
<html>
<head>
	<title>LogIt</title>
	<link href="css/bootstrap.css" rel="stylesheet" >
	<link href="css/bootstrap.sandstone.min.css" rel="stylesheet" >
	<link href="css/datepicker3.css" rel="stylesheet" >
	<link href="css/qLog.css" rel="stylesheet" >
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">LogIt</a>
				<p class="navbar-text">Work Log Quick</p>
			</div>
		</div>
    </nav>

	<div class="container">
		<div class="row editor">
			<form id="editForm" role="form">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="sr-only" for="task">Task</label>
						<input type="text" class="form-control" id="task" placeholder="Task" autofocus="" required="">
						<p class="text-danger task"></p>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="sr-only" for="log">Log</label>
						<input type="text" class="form-control" id="log" placeholder="Time (45m, 1h, .5d)" required="" >
						<p class="text-danger log"></p>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label class="sr-only" for="date">Date</label>
						<input type="text" class="form-control datePicker" id="date" placeholder="Date (today default)">
						<p class="text-danger date"></p>
					</div>
				</div>
				<div class="col-xs-1">
					<button type="submit" class="btn btn-primary" id="addLog">Log</button>
				</div>
			</form>
		</div>

		<nav class="navbar navbar-default controls" >
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="btn btn-default navbar-btn navbar-left prev" id="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</button>
					<h3 class="navbar-left navbar-text weekHeading"></h3>
					<button type="button" class="btn btn-default navbar-btn navbar-left next" id="prev">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</nav>		
		
		<div class="row weekView">
			<div class="summary" id="results"></div>
		</div>
	</div>
		
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<p class="navbar-text">* 1 Day = 8 Hours</p>
	</nav>
</body>

<script type="text/template" id="day-template">
	<div class="panel-heading">
		<h2 class="panel-title"><%= dateString %></h2>
		<span><%= totalHrs %></span>
	</div>
	<div class="panel-body">
		<div class="list-group"></div>
	</div>
</script>


<script type="text/template" id="item-template">
	<h4 class="list-group-item-heading"><%= task %></h4>
	<p class="list-group-item-text"><%= time %></p>
	<button type="button" class="btn btn-default btn-xs pull-right remove">
		<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
</script>
 
<script src="lib/dateJs.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
<script src="lib/bootstrap-datepicker.js"></script>
<script src="lib/typeahead.js"></script>
<script src="utils/datastore-indexdb.js"></script>
<script src="model/model.js"></script>
<script src="view/EditView.js"></script>
<script src="view/SummaryView.js"></script>
<script src="view/DayView.js"></script>
<script src="view/TaskView.js"></script>
<script src="app.js"></script>

</html>