<!DOCTYPE html>
<html>
<head>
	<title>Q Log</title>
	<link href="css/bootstrap.css" rel="stylesheet" >
	<link href="css/bootstrap-theme.css" rel="stylesheet" >
	<link href="css/datepicker3.css" rel="stylesheet" >
	<link href="css/qLog.css" rel="stylesheet" >
</head>
<body>

	<nav class="navbar " role="navigation">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand">Pro Time</span>
			</div>
		</div>
    </nav>

	<div class="container">
		<div class="row editor">
			<form id="editForm" role="form">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="sr-only" for="task">Task</label>
						<input type="text" class="form-control" id="task" placeholder="Task" autofocus="" required="">
						<p class="error text-danger"></p>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label class="sr-only" for="log">Log</label>
						<input type="text" class="form-control" id="log" placeholder="Time (45m, 1h, .5d)" required="" pattern="\d*(m|h|d)">
						<p class="text-danger"></p>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label class="sr-only" for="date">Date</label>
						<input type="text" class="form-control datePicker" id="date" placeholder="Date (today default)">
						<p class="text-danger"></p>
					</div>
				</div>
				<div class="col-xs-1">
					<button type="submit" class="btn btn-default" id="addLog">Log</button>
				</div>
			</form>
		</div>
		
		<div class="row weekView">
			<div class="controls">
				<button type="button" class="btn btn-default btn-lg prev" id="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg next" id="prev">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</button>
				<span class="h3 weekHeading"></span>
			</div>
			<div class="summary" id="results">
			</div>
		</div>
	</div>
		
</body>

<script type="text/template" id="day-template">
	<h4><%= dateString %></h4>
	<ul class="list-group">
	</ul>
</script>


<script type="text/template" id="item-template">
	<button type="button" class="btn btn-default btn-xs pull-right remove">
		<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
	<span class="badge"><%= log %></span>
	<%= task %>
</script>
 
<script src="lib/dateJs.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
<script src="lib/bootstrap-datepicker.js"></script>
<script src="utils/datastore-indexdb.js"></script>
<script src="model/model.js"></script>
<script src="view/EditView.js"></script>
<script src="view/SummaryView.js"></script>
<script src="view/DayView.js"></script>
<script src="view/TaskView.js"></script>
<script src="app.js"></script>

</html>